@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
}

:root {
  --background: #F7F8FD;
  --foreground: #171717;
}

html {
  background-color: #e2e8f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #F7F8FD;
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  width: 390px !important;
  height: 813px !important;
  min-height: 813px !important;
  max-height: 813px !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}
